<app-header></app-header>  // Esto es una etiqueta de componente que insertará el contenido del componente HeaderComponent.

<div class="content">  // Esto es un div con la clase "content". La clase puede ser utilizada para aplicar estilos CSS.
  <router-outlet></router-outlet>  // Esto es una directiva de Angular que actúa como un marcador de posición que carga componentes dinámicamente basados en el estado de la ruta.
</div>

<app-footer></app-footer>  // Esto es una etiqueta de componente que insertará el contenido del componente FooterComponent.
