:host {
     margin: 0;
     gap: 1rem;
     display: grid;
     grid-template-areas:
      "header"
      "content"
      "footer";
      width: 100vw;
      height: 100vh;
     grid-template-columns: 1fr;
     
    }
    
    .content {
      display: grid;
      
      place-content: center;
      grid-area: content;

    }
    /* Media query en CSS */
    @media (width <= 768px) {
     :host {
      grid-template-columns: 1fr;
      grid-template-areas:
       "header"
       "content"
       "footer";
     }
    }