<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mt-5">Bienvenido a mi aplicación de Angular 17</h1>
            <p class="lead text-center">Este es el componente home</p>
            <div class="text-center">
                <h2>Imagen aleatoria</h2>
                <img class="img-fluid" src="{{ img }}" alt="random image">
                <span role="img" aria-label="github link"><a href="https://github.com/pablo-sanchez83" target="_blank"><i class="fa-brands fa-github"></i></a></span>
            </div>
        </div>
    </div>