<div class="container">  // Esto es un div con la clase "container". La clase puede ser utilizada para aplicar estilos CSS.
    <div class="row">  // Esto es un div con la clase "row". La clase puede ser utilizada para aplicar estilos CSS.
        <div class="col-md-6 offset-md-3">  // Esto es un div con las clases "col-md-6" y "offset-md-3". Las clases pueden ser utilizadas para aplicar estilos CSS.
            <h1 class="text-center mt-5">Bienvenido a mi aplicación de Angular 17</h1>  // Esto es un encabezado de nivel 1 con las clases "text-center" y "mt-5". Las clases pueden ser utilizadas para aplicar estilos CSS.
            <p class="lead text-center">Este es el componente home</p>  // Esto es un párrafo con las clases "lead" y "text-center". Las clases pueden ser utilizadas para aplicar estilos CSS.
            <div class="text-center">  // Esto es un div con la clase "text-center". La clase puede ser utilizada para aplicar estilos CSS.
                <h2>Imagen aleatoria</h2>  // Esto es un encabezado de nivel 2.
                <img class="img-fluid" src="{{ img }}" alt="random image">  // Esto es una imagen con la clase "img-fluid". La clase puede ser utilizada para aplicar estilos CSS. La propiedad "src" está vinculada a la propiedad "img" del componente `HomeComponent`.
                <span role="img" aria-label="github link"><a href="https://github.com/pablo-sanchez83" target="_blank"><i class="fa-brands fa-github"></i></a></span>  // Esto es un enlace a un perfil de GitHub. El enlace se abre en una nueva pestaña.
            </div>
        </div>
    </div>
</div>
