:host {
      padding-top: auto;
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
     }
     
     h1 {
      color: #09f;
     }